TestResults/
bin/
obj/

*.suo
*.user
thumbs.db
*.nupkg

src/CommonAssemblyInfo.cs
*.bak
/ToDos.txt
/examples/drilldown/files/yy.html
/examples/drilldown/files/xxWithRef.html
/examples/drilldown/files/xxWithFullUrl.html
/examples/drilldown/files/xxOtherWithRef.html
/examples/drilldown/files/xx.html
