<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!-- <package id="CreateAssemblyInfoFromGit" version="1.0.0-beta0025" targetFramework="net40" /> -->
  <!-- <package id="Mono.Cecil" version="0.9.6.4" targetFramework="net40" /> something is wrong - FIX https://github.com/jbevain/cecil/commit/d33d51499a0c19238f41db5a06ab01b1f7aae210 is missing when packages are loaded with nuget -->
</packages>